* {
    box-sizing: border-box;
    font-family: 'Nunito', system-ui, -apple-system, sans-serif;
    z-index: 1;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #F9F3F3;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    background-color: white;
    backdrop-filter: blur(5px) contrast(.8);
    z-index: 9;
}

nav .left {
    display: flex;
    align-items: center;
}

.logo {
    width: 42px;
    margin-left: 10px;
}

.heading {
    margin-left: 20px;
}

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: inline-block;
    margin: 0px 10px;
}

.nav-link:hover,
.nav-link a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #F66767;
}

.menu {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-95px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -5px);
}

.navigation .active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #F66767;
}

.action button {
    background-color: #c92926;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.container {
    margin: 2rem 10vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    display: inline;
}

.header p {
    margin-top: 0px;
}

#today {
    padding: 8px 2rem;
    border: 2px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.heads {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 12px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

.text-center {
    text-align: center;
}


.card {
    background-color: white;
    width: 100%;
    padding: 5px 5vw;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heads>.card {
    border-radius: 12px;
    padding: 0px;
}

.cards>.card {
    padding: 5px 2.5vw;
}

.card figure {
    width: 100%;
    margin: 0px;
    cursor: zoom-in;
}

.card img {
    width: 100%;
    cursor: zoom-in;
}

.card h1 {
    font-size: xx-large;
    margin: 10px;
    margin-top: 0px;
}

.card h2 {
    margin-bottom: 0px;
    font-size: larger;
}

.card h3 {
    margin-bottom: 0px;
    color: #c92926;
}

.card p {
    font-size: large;
    margin-top: 10px;
}

.card span {
    align-self: flex-end;
    font-size: small;
    font-weight: lighter;
    padding-top: 5px;
}

.wp-caption-text {
    font-style: italic;
    color: #A1A2A4;
}
.banner {
    text-align: center;
    font-weight: bolder;
    background-color: #F66767;
    color: white;
    padding: 16px;
}
.thin-ui-notification-bar {
    position: fixed;
    background-color: white;
    z-index: 999;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.5s ease-out;
    transform: translateY(-100px);
}

footer {
    width: 100%;
    background-color: white;
    backdrop-filter: blur(5px) contrast(.8);
    z-index: 9;
    padding: 10px 10vw;
}

@media screen and (max-width: 480px) {
    #myNav {
        display: block;
    }

    #myNav .middle,
    #myNav .right {
        display: none;
    }

    .navigation .nav-link {
        display: block;
        padding: 10px;
    }

    .right .action {
        padding: 20px;
    }

    .right .action button {
        width: 100%;
    }

    .menu {
        display: block;
    }

    .container {
        margin: 1rem 16px;
    }

    #today {
        padding: 8px 1rem;
    }
}

@media screen and (max-width: 1062px) {
    .cards>.card {
        padding: 5px 5vw;
    }

    .wp-caption {
        position: relative;
        padding: 0;
        margin: 0;
    }

    .wp-caption img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .wp-caption:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
        z-index: 1;
    }

    .wp-caption-text {
        display: block;
        position: absolute;
        width: 100%;
        color: #fff;
        left: 0;
        bottom: 0;
        padding: 1em;
        font-weight: 700;
        z-index: 2;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 481px) {
    #myNav {
        display: flex;
    }

    #myNav .middle,
    #myNav .right {
        display: block;
    }

    .menu {
        display: none;
    }
}